<html>
    <head>
       <title>Dojo Survey Index</title>
    </head>
    <body>
        <h1>Enter Your Name</h1>
        {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{message}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      <form action ='/process' method='post'>
          Your Name:<input type="text" name="name"></br>
           Favorite Language:<select class="" name="language">
            <option value="JavaScript">JavaScript</option>
             <option value="Python">Python</option>
          </select></br>
            Dojo Location:<select class="" name="location">
              <option value="Seattle">Seattle</option>
              <option value="San Jose">San Jose</option>
          </select></br>
          Comment(optional): </br><textarea name="comment"rows="8"cols="40"></textarea>
          <input type="submit" value="Button">
      </form>
    </body>
</html>
